.max-container {
  background-color: $primary-color;
  @include outer-container(100%);
  padding: 0 $base-spacing;
}
.container {
  @extend .max-container;
  @media (min-width: $large) {
    margin: 0 auto;
    width: 500px;
  }
}
.container-fluid {
  @extend .max-container;
}

.row{
  @include row();
}

// Refactor a flex grid?
.flex-intro{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column-reverse;
}
