
.section-quote {
  @include pad(2rem 0);
  @include outer-container;
  aside {
     @include pad();
    background-color: $brand-color;
    @include span-columns(3);
  }
  article {
   @include pad();
   @include span-columns(9);
   border: 1px solid  $brand-color;
  }

}
.bg-brand{
  background-color: $brand-color;
  color: #fff;
  h1{
    font-weight: 300;
    color: #fff;
  }
}

.bg-primary{
  background-color:$primary-color;
  color: #fff;
}

.section-large{
  padding: 4 * $base-spacing;
}

.text-center{
  text-align: center;
}

.list-unstyled{
  li {
    list-style: none;
  }
}

.center-horizontal{
  text-align: center;
}
