h1, .h1{
  line-height: 1;
  font-weight: $font-weight-bold;
  letter-spacing: 0.05em;
}

p, .p{
  line-height: 1;
  font-weight: $font-weight-light;
}


a, p, h1, h2{
  font-family: $font-family-headings;

}


a{
  text-decoration: none;
  border-bottom: 2px solid $brand-color;
  padding-bottom: 1px;
}

p, a, h1, h2 {
  color: $font-color;
}
