/* Rem Calculator
 * Converts one or more pixel values into matching rem values. This function works a lot like `convert-to-rem`,
 * except it can convert more than one value at once, which is useful when setting multiple values
 * on a `margin` or `padding` property.
 *
 * @param {number|list} $values - One or more values to convert. Be sure to separate them with spaces and not commas.
 * If you need to convert a comma-separated list, wrap the list in parentheses.
 *
 * @return A list of converted values.
 */

@function rem-calc($values, $base-value: null) {
  @if $base-value == null {
    $base-value: $rem-base;
  }
  $max: length($values);

  @if $max == 1 { @return convert-to-rem(nth($values, 1), $base-value); }

  $remValues: ();
  @for $i from 1 through $max {
    $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
  }
  @return $remValues;
}
